USE [master]
GO
/****** Object:  Database [SalesDB]    Script Date: 26/04/2025 12:43:27 ******/
CREATE DATABASE [SalesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SalesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SalesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SalesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesDB]
GO
/****** Object:  Table [dbo].[COM_CUSTOMER]    Script Date: 26/04/2025 12:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COM_CUSTOMER](
	[COM_CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_COM_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[COM_CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_ITEM]    Script Date: 26/04/2025 12:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_ITEM](
	[SO_ITEM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SO_ORDER_ID] [bigint] NOT NULL,
	[ITEM_NAME] [varchar](100) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_SO_ITEM] PRIMARY KEY CLUSTERED 
(
	[SO_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_ORDER]    Script Date: 26/04/2025 12:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_ORDER](
	[SO_ORDER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDER_NO] [varchar](20) NOT NULL,
	[ORDER_DATE] [datetime] NOT NULL,
	[COM_CUSTOMER_ID] [int] NOT NULL,
	[ADDRESS] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SO_ORDER] PRIMARY KEY CLUSTERED 
(
	[SO_ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SO_ITEM] ADD  CONSTRAINT [DF_Table_1_SALES_SO_ID]  DEFAULT ((-99)) FOR [SO_ORDER_ID]
GO
ALTER TABLE [dbo].[SO_ITEM] ADD  CONSTRAINT [DF_SO_ITEM_ITEM_NAME]  DEFAULT ('') FOR [ITEM_NAME]
GO
ALTER TABLE [dbo].[SO_ITEM] ADD  CONSTRAINT [DF_SO_ITEM_QUANTITY]  DEFAULT ((-99)) FOR [QUANTITY]
GO
ALTER TABLE [dbo].[SO_ITEM] ADD  CONSTRAINT [DF_SO_ITEM_PRICE]  DEFAULT ((0.00)) FOR [PRICE]
GO
ALTER TABLE [dbo].[SO_ORDER] ADD  CONSTRAINT [DF_SO_ORDER_ORDER_NO]  DEFAULT ('') FOR [ORDER_NO]
GO
ALTER TABLE [dbo].[SO_ORDER] ADD  CONSTRAINT [DF_SO_ORDER_ORDER_DATE]  DEFAULT ('1900-01-01') FOR [ORDER_DATE]
GO
ALTER TABLE [dbo].[SO_ORDER] ADD  CONSTRAINT [DF_SO_ORDER_ADDRESS]  DEFAULT ('') FOR [ADDRESS]
GO
USE [master]
GO
